<% if user_signed_in? %>
  <h1>Users List</h1>
  <div> You are signed in as <%= current_user.email %> </div>
  <%= button_to "Sign out", destroy_user_session_path, method: :delete, data: {turbo: false} %>
  <ol start="<%= (@pagy.page - 1) * @items + 1 %>">
    <% @records.each do |record| %>
      <li><%= record.email %></li>
    <% end %>
  </ol>
  <%== pagy_nav @pagy %>
<% else %>
  <h1>Sign in to view users</h1>
  <%= button_to "Sign in", new_user_session_path, data: {turbo: false} %>
<% end %>
